h1,
h2,
h3,
h4,
h5,
h6,
p,
pre,
blockquote,
div {
  margin: 0;
  padding: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 20px;
}

ul ul {
  list-style-type: circle;
}
ul ul ul {
  list-style-type: square;
}

ol ol {
  list-style-type: lower-alpha;
}
ol ol ol {
  list-style-type: lower-roman;
}
ol ol ol ol {
  list-style-type: decimal;
}

#toolbar {
  border: 1px solid #ccc;
  padding: 5px;
  border-bottom: none;
}

* {
  box-sizing: border-box !important;
}

#toolbar button {
  margin-right: 5px;
}

#toolbarFloat {
  border: 1px solid #ccc;
  padding: 5px;
  margin-bottom: 10px;
  width: fit-content;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

#toolbarFloat button {
  margin-right: 5px;
}

#editor {
  height: 250px;
  overflow: auto;
  margin-top: 10px;
}

#editor-contentable {
  height: 100%;
  width: 100%;
  border: 1px solid #aaa;
  flex: 1;
  padding: 10px;
  overflow: auto;
}

[contenteditable] {
  all: unset; /* Xóa toàn bộ style mặc định của trình duyệt */
  display: block; /* hoặc inline-block nếu cần */
  min-height: 100px;
  white-space: pre-wrap; /* giữ xuống dòng */
  word-break: break-word;
  outline: none; /* bỏ viền khi focus */
  cursor: text;
  font-family: inherit;
  font-size: inherit;
}

#counter {
  border: 1px solid #aaa;
  border-top: none;
  padding: 10px;
}

#preview-ctn {
  margin-top: 20px;
  border: 1px solid #aaa;
  display: flex;
  flex-direction: column;
  padding: 0;
  height: 350px;
}

#preview-ctn h3 {
  margin: 0;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

#preview-body {
  display: flex;
  height: calc(100% - 39.2px);
}

#preview-html-ctn,
#preview-text-ctn {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 50%;
}

#preview-html-ctn h4,
#preview-text-ctn h4 {
  margin: 0;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
  background-color: #f9f9f9;
}

#preview-html-ctn h4 {
  border-right: none;
}

#preview-html-ctn {
  border-right: 1px solid #ccc;
}

#preview-html,
#preview-text {
  padding: 10px;
  height: 100%;
  overflow: auto;
  background: white;
  border-bottom: 1px solid #ccc;
}

.base-input-ctn {
  display: flex;
  padding: 10px;
  background-color: #fff;
  gap: 6px;
  border-radius: 6px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.base-input-ctn input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
}
